### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
import pandas as pd
file_to_load = "purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [10]:
player_reduced = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_reduced = player_reduced.drop_duplicates()
playercount = player_reduced.count()[0]
pd.DataFrame({"Total Players": [playercount]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
price = purchase_data["Price"].mean()
purchases = purchase_data["Price"].sum()
count = purchase_data["Price"].count()
item_count = len(purchase_data["Item ID"].unique())

table = pd.DataFrame({"Number of Unique Items": item_count,
                      "Total Revenue": [purchases],
                      "Number of Purchases": [count],
                      "Average Price": [price]})
table

   Number of Unique Items  Total Revenue  Number of Purchases  Average Price
0                     183        2379.77                  780       3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
gender_totals = purchase_data["Gender"].value_counts()
gender_percents = gender_totals / playercount  
gender_table = pd.DataFrame({"Total Count": gender_totals, "Percentage of Players": gender_percents})

gender_table

                       Total Count  Percentage of Players
Male                           652               1.131944
Female                         113               0.196181
Other / Non-Disclosed           15               0.026042

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase amount")
gender_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_counts = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Counts")

Avg_Total_Per_person = gender_purchase_total / gender_table["Total Count"]

gender_data = pd.DataFrame({"Purchase Count": gender_counts, "Average Purchase Price": gender_average, "Total Purchase Value": gender_purchase_total, "Avg Total Per person": Avg_Total_Per_person})

gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Per person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:
age_groups = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 500]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


player_reduced["Age Ranges"] = pd.cut(player_reduced["Age"], age_groups, labels=group_names)

age_demographics_totals = player_reduced["Age Ranges"].value_counts()
age_demographics_percents = (age_demographics_totals / playercount) * 100
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})

age_demographics = age_demographics.sort_index()
age_demographics

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_groups, labels=group_names)

age_purchase_total = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_average = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_counts = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")

normalized_total = age_purchase_total / age_demographics["Total Count"]

age_data = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_average, "Total Purchase Value": age_purchase_total, "Normalized Totals": normalized_total})

age_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Ranges,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

user_data = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})

user_sorted = user_data.sort_values("Total Purchase Value", ascending=False)

user_sorted.head(10)

              Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                    18.96                3.792000               5
Idastidru52                  15.45                3.862500               4
Chamjask73                   13.83                4.610000               3
Iral74                       13.62                3.405000               4
Iskadarya95                  13.10                4.366667               3
Ilarin91                     12.70                4.233333               3
Ialallo29                    11.84                3.946667               3
Tyidaim51                    11.83                3.943333               3
Lassilsala30                 11.51                3.836667               3
Chadolyla44                  11.46                3.820000               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [36]:
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

item_data_pd = pd.DataFrame({"Total Purchase Value": total_item_purchase, "Item Price": average_item_purchase, "Purchase Count": item_count})

item_data_count_sorted = item_data_pd.sort_values("Purchase Count", ascending=False)

item_data_count_sorted.head(10)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.23,12
145,Fiery Glass Crusader,41.22,4.58,9
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.53,9
82,Nirvana,44.10,4.90,9
19,"Pursuit, Cudgel of Necromancy",8.16,1.02,8
103,Singed Scalpel,34.80,4.35,8
75,Brutality Ivory Warmace,19.36,2.42,8
72,Winter's Bite,30.16,3.77,8
60,Wolf,28.32,3.54,8
59,"Lightning, Etcher of the King",33.84,4.23,8

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [38]:
item_total_purchase = item_data_pd.sort_values("Total Purchase Value", ascending=False)

item_total_purchase.head(10)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.23,12
82,Nirvana,44.10,4.90,9
145,Fiery Glass Crusader,41.22,4.58,9
92,Final Critic,39.04,4.88,8
103,Singed Scalpel,34.80,4.35,8
59,"Lightning, Etcher of the King",33.84,4.23,8
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.53,9
78,"Glimmer, Ender of the Moon",30.80,4.40,7
72,Winter's Bite,30.16,3.77,8
60,Wolf,28.32,3.54,8