### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
import pandas as pd
file_to_load = "purchase_data.csv"
df = pd.read_csv(file_to_load)
df.isnull().sum()

Purchase ID    0
SN             0
Age            0
Gender         0
Item ID        0
Item Name      0
Price          0
dtype: int64

## Player Count

* Display the total number of players

In [24]:
player_total = len(df['SN'].unique())
player_count = pd.DataFrame([{'Total Players': player_total}])
player_count.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
number_unique_items = len(df['Item ID'].unique())
average_purchase_price = df['Price'].mean()
total_number_purchase = df['Item ID'].count()
total_revenue = df['Price'].sum()

table = pd.DataFrame({"Number of Unique Items": number_unique_items,
                      "Total Revenue": [total_revenue],
                      "Number of Purchases": [total_number_purchase],
                      "Average Price": [average_purchase_price]})
table.head()

   Number of Unique Items  Total Revenue  Number of Purchases  Average Price
0                     183        2379.77                  780       3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [26]:
df_grouped_gender = df.groupby(['Gender'])
df_gender = pd.DataFrame()

df_gender['Total Count'] = df_grouped_gender['SN'].nunique()
df_gender['Percentage of Palyers (%)'] = df_gender['Total Count'] / player_total * 100
df_gender.head()

                       Total Count  Percentage of Palyers (%)
Gender
Female                          81                  14.062500
Male                           484                  84.027778
Other / Non-Disclosed           11                   1.909722

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
purchasing_analysis_gender = pd.DataFrame() 
purchasing_analysis_gender['Purchase Count'] = df_grouped_gender.count()['Item Name']
purchasing_analysis_gender['Average Purchase Price'] = df_grouped_gender.mean()['Price']
purchasing_analysis_gender['Total Purchase Value'] = df_grouped_gender.sum()['Price']
purchasing_analysis_gender['Normalized Totals'] = purchasing_analysis_gender['Total Purchase Value']/ gender_demo['Total Count']

purchasing_analysis_gender.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [37]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 500]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_cat = pd.cut(df['Age'], bins = bins, right = False, labels = labels)
df_age = df
df_age['Age Categories'] = age_cat
df_age.head()

df_grouped_age = df_age.groupby(['Age Categories'])
age_demo = pd.DataFrame()
age_demo['Percentage of Players (%)'] = df_grouped_age['SN'].nunique() / player_total * 100
age_demo['Total Count'] = df_grouped_age['SN'].nunique()
age_demo.head()

                Percentage of Players (%)  Total Count
Age Categories
<10                              2.951389           17
10-14                            3.819444           22
15-19                           18.576389          107
20-24                           44.791667          258
25-29                           13.368056           77

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
purchase_analysis_age = pd.DataFrame()
purchase_analysis_age['Purchase Count'] = df_grouped_age.count()['Item ID']
purchase_analysis_age['Average Purchase Price'] = df_grouped_age.mean()['Price']
purchase_analysis_age['Total Purchase Value'] = df_grouped_age.sum()['Price']
purchase_analysis_age['Normalized Totals'] = purchase_analysis_age['Total Purchase Value']/age_demo['Total Count']
purchase_analysis_age.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Categories,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
df_player = df.groupby(['SN'])
spenders = pd.DataFrame()
spenders['Purchase Count'] = df_player['Item ID'].count()
spenders['Average Purchase Price ($)'] = df_player['Price'].mean()
spenders['Total Purchase Value ($)'] = df_player['Price'].sum()
spenders_sorted = spenders.sort_values(by = ['Total Purchase Value ($)'], ascending = False)
top_spenders = spenders_sorted.iloc[0:5]
top_spenders

,Purchase Count,Average Purchase Price ($),Total Purchase Value ($)
SN,,,
Lisosia93,5,3.792000,18.96
Idastidru52,4,3.862500,15.45
Chamjask73,3,4.610000,13.83
Iral74,4,3.405000,13.62
Iskadarya95,3,4.366667,13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

item_data_pd = pd.DataFrame({"Total Purchase Value": total_item_purchase, "Item Price": average_item_purchase, "Purchase Count": item_count})

item_data_count_sorted = item_data_pd.sort_values("Purchase Count", ascending=False)

item_data_count_sorted.head(10)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.23,12
145,Fiery Glass Crusader,41.22,4.58,9
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.53,9
82,Nirvana,44.10,4.90,9
19,"Pursuit, Cudgel of Necromancy",8.16,1.02,8
103,Singed Scalpel,34.80,4.35,8
75,Brutality Ivory Warmace,19.36,2.42,8
72,Winter's Bite,30.16,3.77,8
60,Wolf,28.32,3.54,8
59,"Lightning, Etcher of the King",33.84,4.23,8

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [32]:
item_total_purchase = item_data_pd.sort_values("Total Purchase Value", ascending=False)

item_total_purchase.head(10)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.23,12
82,Nirvana,44.10,4.90,9
145,Fiery Glass Crusader,41.22,4.58,9
92,Final Critic,39.04,4.88,8
103,Singed Scalpel,34.80,4.35,8
59,"Lightning, Etcher of the King",33.84,4.23,8
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.53,9
78,"Glimmer, Ender of the Moon",30.80,4.40,7
72,Winter's Bite,30.16,3.77,8
60,Wolf,28.32,3.54,8